.main
  background rgba(255,255,255,0.1)
  color #000
  border-radius 1.5em
  box-shadow 0 0 1rem 0 rgba(red,0.1)
  margin 100px auto
  display flex
  flex-direction column
  padding 1rem
  gap 1rem

